<script>
import { GlButton, GlPopover, GlSprintf } from '@gitlab/ui';
import { GlBreakpointInstance as bp } from '@gitlab/ui/dist/utils';
import { debounce } from 'lodash';
import { formatDate } from '~/lib/utils/datetime_utility';
import { sprintf } from '~/locale';
import Tracking from '~/tracking';
import { POPOVER, RESIZE_EVENT, TRACKING_PROPERTY } from './constants';

const {
  i18n,
  trackingEvents,
  trialEndDateFormatString,
  resizeEventDebounceMS,
  disabledBreakpoints,
} = POPOVER;
const trackingMixin = Tracking.mixin({ property: TRACKING_PROPERTY });

export default {
  components: {
    GlButton,
    GlPopover,
    GlSprintf,
  },
  mixins: [trackingMixin],
  inject: {
    containerId: { default: null },
    groupName: {},
    planName: {},
    plansHref: {},
    purchaseHref: {},
    startInitiallyShown: { default: false },
    targetId: {},
    trialEndDate: {},
  },
  data() {
    return {
      disabled: false,
      forciblyShowing: false,
      showCloseButton: false,
      show: false,
    };
  },
  i18n,
  trackingEvents,
  computed: {
    formattedTrialEndDate() {
      return formatDate(this.trialEndDate, trialEndDateFormatString);
    },
    upgradeButtonTitle() {
      return sprintf(this.$options.i18n.upgradeButtonTitle, {
        groupName: this.groupName,
        planName: this.planName,
      });
    },
  },
  created() {
    this.debouncedResize = debounce(() => this.onResize(), resizeEventDebounceMS);
    window.addEventListener(RESIZE_EVENT, this.debouncedResize);

    if (this.startInitiallyShown) {
      this.forciblyShowing = true;
      this.showCloseButton = true;
      this.show = true;
    }
  },
  mounted() {
    this.onResize();
  },
  beforeDestroy() {
    window.removeEventListener(RESIZE_EVENT, this.debouncedResize);
  },
  methods: {
    onClose() {
      this.forciblyShowing = false;
      this.show = false;

      const { action, ...options } = this.$options.trackingEvents.closeBtnClick;
      this.track(action, options);
    },
    onResize() {
      this.updateDisabledState();
    },
    onShown() {
      const { action, ...options } = this.$options.trackingEvents.popoverShown;
      this.track(action, options);
    },
    onUpgradeBtnClick() {
      const { action, ...options } = this.$options.trackingEvents.upgradeBtnClick;
      this.track(action, options);
    },
    onCompareBtnClick() {
      const { action, ...options } = this.$options.trackingEvents.compareBtnClick;
      this.track(action, options);
    },
    updateDisabledState() {
      this.disabled = disabledBreakpoints.includes(bp.getBreakpointSize());
    },
  },
};
</script>

<template>
  <gl-popover
    ref="popover"
    :container="containerId"
    :target="targetId"
    :disabled="disabled"
    placement="rightbottom"
    boundary="viewport"
    :delay="{ hide: 400 }"
    :show.sync="show"
    :triggers="forciblyShowing ? '' : 'hover focus'"
    @shown="onShown"
  >
    <template #title>
      <gl-button
        v-if="showCloseButton"
        category="tertiary"
        class="close"
        data-testid="closeBtn"
        :aria-label="$options.i18n.close"
        @click.prevent="onClose"
      >
        <span class="gl-display-inline-block" aria-hidden="true">&times;</span>
      </gl-button>
      {{ $options.i18n.popoverTitle }}
      <gl-emoji class="gl-vertical-align-baseline gl-font-size-inherit gl-ml-1" data-name="wave" />
    </template>

    <gl-sprintf :message="$options.i18n.popoverContent">
      <template #bold="{ content }">
        <b>{{ sprintf(content, { trialEndDate: formattedTrialEndDate }) }}</b>
      </template>
      <template #planName>{{ planName }}</template>
    </gl-sprintf>

    <div class="gl-mt-5">
      <gl-button
        :href="purchaseHref"
        category="primary"
        variant="confirm"
        size="small"
        class="gl-mb-0"
        block
        data-testid="upgradeBtn"
        @click="onUpgradeBtnClick"
      >
        <span class="gl-font-sm">{{ upgradeButtonTitle }}</span>
      </gl-button>

      <gl-button
        :href="plansHref"
        category="secondary"
        variant="confirm"
        size="small"
        class="gl-mb-0"
        block
        data-testid="compareBtn"
        :title="$options.i18n.compareAllButtonTitle"
        @click="onCompareBtnClick"
      >
        <span class="gl-font-sm">{{ $options.i18n.compareAllButtonTitle }}</span>
      </gl-button>
    </div>
  </gl-popover>
</template>
